lightning==2.4.0
gradio==5.0.1
numpy
tensorboardX
easydict
pyyaml
scikit-image
tqdm
yapf==0.30.0
wandb
chardet
charset-normalizer
tabulate
hydra-core
torch_geometric
torchvision==0.20.0
torch==2.5.0
omegaconf==2.3.0
hydra-core==1.3.2
Pillow==9.2.0
sympy==1.12